body {
    text-align: center;
    box-sizing: border-box;
}
.title {
    margin: 40px 0;
    font-family: "Roboto Light";
    font-size: 32px;
    text-align: center;
    color: midnightblue;
}

textarea {
    display: block;
    margin: 32px auto;
    padding: 10px;
    width: 800px;
    height: 350px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    box-shadow: 1px 1px 1px salmon;
    font-family: "Roboto Light";
    font-size: 28px;
}

button {

    width: 150px;
    height: 50px;
    padding: 2px;
    outline: 0;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#fdde5c),
            color-stop(#f8ab5e),
            color-stop(#f56a62),
            color-stop(#a176c8),
            color-stop(#759beb),
            color-stop(#65beb3),
            to(#70db96)
    );
    background: linear-gradient(
            to right,
            #fdde5c,
            #f8ab5e,
            #f56a62,
            #a176c8,
            #759beb,
            #65beb3,
            #70db96
    );
    border-radius: 30px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}

